.train{
  padding-top: 60px;
  height: 680px;
  text-align: center;
  color: #fff;
  background: url("../../../assets/img/recommend/bg02.png") no-repeat center/cover;
  box-sizing: border-box;
  h2{
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  P{
    font-size: 24px;
    margin-bottom: 10px;
  }
}