.ant-tabs-tab{
  width: 74px !important;
  height: 74px !important;
  margin-right: 10px !important;
  background-color: #fff !important;
}

.pack{
  padding: 40px;
  background-color: #CFAE69;
  text-align: center;
  h2{
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  p{
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;

  }
  .con{
    width: 590px;
    margin: 30px auto;
    .box{
      width: 450px;
      height: 270px;
      border: 1px solid;
      margin: 0 auto;
    }
  }
}